.page-header {
  //smth
}

.page-header--index {
  //smth
}

.page-header__top {
  background-color: $navColor;
}

.page-header__wrapper {
  display: grid;
  grid-template-columns: minmax(110px, 1fr) minmax(122px, 1fr) 40px;
  grid-gap: 13px;

  @include tablet {
    grid-template-columns: 2fr 1fr 1fr;
  }

  @include realdt {
    padding-left: 108px;
    padding-right: 108px;

    grid-template-columns: 4fr 2fr 1fr;
  }
}

.page-header__contacts {
  padding-top: 18px;
  padding-bottom: 12px;

  @include tablet {
    justify-self: center;
  }
}

.page-header__contacts-city {
  display: none;

  @include realdt {
    display: inline-block;
    color: #ffffff;
    padding-right: 15px;
  }
}

.page-header__contacts-tel {
  font: 14px/3 $ms700;

  &:hover {
    border-bottom: 1px solid yellow;
    color: rgba(248, 243, 43, 1);
    text-shadow: 0 3px 0 $charcoal-grey;
    transition: all 0.45s ease-in;
  }

  &:active,
  &:focus {
    color: rgba(248, 243, 43, 0.65);
    text-shadow: 0 3px 0 $charcoal-grey;
    outline: none;
    transition: all 0.15s ease-in;
  }

  @include tablet {
    font-size: 17px;
  }
}

.page-header__help {
  position: relative;

  @include tablet {
    justify-self: end;
    align-self: center;
  }
}

.page-header__btn-help {
  display: none;

  @include tablet {
    display: inline-block;
    text-transform: initial;
    font: 17px $ms500;
    letter-spacing: 0.3px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 17px 25px 15px;

    &:hover {
      box-shadow: 3px 5px 10px 5px $charcoal-grey;
      background-color: darken(saturate($watermelon, 40%), 4%);
      transition: all 0.5s ease;
    }

    &:active,
    &:focus {
      opacity: 0.75;
      box-shadow: 2px 6px 0 #343a40;
      outline: none;
    }
  }
}

.page-header__mini-btn {
  @include pseudo-element ("", absolute, flex);
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  top: 17px;
  right: 6px;
  box-shadow: 0px 10px 10px 0 rgba(77, 121, 255, 0.25);
  border-radius: 50%;
  background-color: $watermelon;

  @include tablet {
    display: none;
  }
}

.page-header__icon-callback {
  fill: #ffffff;
}

.page-header__mini-btn:hover {
  box-shadow: 2px 4px 4px green;
  transition: all 0.4s ease-in-out;
}

.page-header__mini-btn:active,
.page-header__mini-btn:focus {
  opacity: 0.7;
  transition: all 0.25s ease-in-out;
}

.page-header__mini-btn:hover .page-header__icon-callback {
  fill: yellow;
  transform: scale(1.15);
  transition: all 0.4s ease-in-out;
}

.page-header__mini-btn:active .page-header__icon-callback,
.page-header__mini-btn:focus .page-header__icon-callback {
  fill: yellow;
  transform: scale(1.5);
  transition: all 0.25s ease-in-out;
}

.page-header__mini-btn:focus {
  outline: none;
}

.page-header__logo:hover .logo__img{
  transform: scale(1.1);
}

.page-header__logo:active .logo__img,
.page-header__logo:active .logo__text,
.page-header__logo:focus,
.page-header__logo:focus {
  opacity: 0.5;
  outline: none;
}

.page-header__icon-callback {}
