.works {
  padding-bottom: 60px;
  padding-top: 40px;
}

.works__title {
  padding-top: 20px;
  padding-bottom: 28px;
  font: 32px/42px $ms900;
  color: $charcoal-grey;
  text-align: center;
}

.works__description {
  font: 20px/26px $ms500;
  color: $charcoal-grey;
  text-align: center;
  max-width: 220px;
  margin: 0 auto;
  padding-bottom: 45px;
}

.works__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  grid-gap: 24px;
  justify-content: space-evenly;

  @include tablet {
    grid-template-columns: repeat(auto-fit, 348px);
    padding-right: 24px;
    padding-left: 24px;
  }

  @include desktop {
    grid-template-columns: repeat(auto-fit, 392px);
    justify-content: space-between;
    padding-right: 108px;
    padding-left: 108px;
    max-width: 1600px;
    margin: 0 auto;
  }
}

.works__item:hover {
  box-shadow: 8px -4px 10px 10px rgba(77, 121, 255, 0.25);
}

.works__item:hover .works__name {
  text-shadow: 6px -3px 5px black;
}

.works__item:hover .works__name a {
  color: yellow;
}

.works__link {
  width: auto;
}

.works__img {
  width: auto;
  height: 490px;

  @include tablet {
    height: 531px;
  }

  @include desktop {
    height: 600px;
  }
}

.works__link > picture {
  width: auto;
}

.works__name {
  display: flex;
  justify-content: center;
  margin-top: -63px;

  @include tablet {
    justify-content: start;
    padding-left: 32px;
  }
}

.works__name a {
  font: 22px/30px $ms900;
  text-transform: unset;

  @include tablet {
    font: 24px/42px $ms900;
  }
}
